{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/update_house_booking.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="mx-auto mt-5 h-100 d-flex flex-column bg-white" style="border-radius: 0.5rem; width: 90%">

        {% if threads|length != 0 %}
            <h3 class="mx-auto my-3">Liste de mes discussions</h3>
        {% else %}
            <h3 class="mx-auto my-3">Aucune discussion</h3>
        {% endif %}

        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <table class="table table-image">
                        <tbody>
                        {% for thread in threads %}
                            <tr>
                                <th scope="row">#</th>
                                <td>{{ thread['other_user'].name ~ ' ' ~ thread['other_user'].surname }}</td>
                                <td>{{ thread['timestamp']|date('d/m/Y H:i') }}</td>
                                <td>{{ thread['content']|length > 25 ? thread['content']|slice(0, 25) ~ '...' : thread['content'] }}</td>
                                <td><a class="btn btn-primary vermeil col" href="{{ path('app_messages', {'id': thread['other_user'].id}) }}">Continuer la discussion</a></td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}