{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/update_house_booking.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="mx-auto mt-5 h-100 d-flex flex-column bg-white" style="border-radius: 0.5rem; width: 90%">

        {% if user.keyBookingAsBooker.count != 0 %}
            <h3 class="mx-auto my-3">Liste de mes reservations</h3>
        {% else %}
            <h3 class="mx-auto my-3">Aucune réservation prise</h3>
        {% endif %}


        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-image">
                        <tbody>
                        {% for booking in user.keyBookingAsBooker|sort((a, b) => a.id <=> b.id) %}
                            <tr>
                                <th scope="row">#</th>
                                <td class="w-25">
                                    <img src="{{ asset('uploads/images/' ~ booking.keyHouse.imageFilename) }}"
                                         class="img-fluid img-thumbnail" alt="Sheep">
                                </td>
                                <td>{{ booking.keyHouse.description }}</td>
                                <td>{{ booking.keyHouse.dateBegin | date('d-m-Y') }}</td>
                                <td>{{ booking.keyHouse.dateEnd | date('d-m-Y') }}</td>
                                <td>{{ booking.keyHouse.keyTypeAccommodationCapacity.capacity }}</td>
                                <td>{{ booking.keyHouse.keyListeVilleFrance.name ~ ' (' ~ booking.keyHouse.keyListeVilleFrance.department ~ ')' }}</td>
                                <td><a class="btn btn-primary vermeil col"
                                       href="{{ path('app_messages', {'id': booking.keyHouse.keyUser.id}) }}">Envoyer un
                                        message au
                                        propriétaire</a>
                                </td>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td>{{ booking.dateBegin | date('d-m-Y') }}</td>
                                <td>{{ booking.dateEnd | date('d-m-Y') }}</td>
                                <td>{{ booking.status.status }}</td>
                                <td></td>
                                {% if booking.status.status == 'ACCEPTE' or booking.status.status == 'EN ATTENTE' %}
                                    <td><a id="accept-{{ booking.id }}" class="btn btn-outline-danger cancel-booking col">Annuler</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}