{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white">{{ app.user.roles|join(', ') }}</span>
                        <h5 class="mt-2 mb-0">{{ user.name ~ ' ' ~ user.surname}}</h5>
                        <span>{{ user.email}}</span>

                        <ul class="social-list mt-4">
                            <li><i class="fa"></i>Date de naissance : {{ user.birthdate | date('d-m-Y')}}</li>
                            {% if user.phoneNumber %}
                                <li><i class="fa"></i>Numero : {{ user.phoneNumber }}</li>
                            {% endif %}
                            <li><i class="fa"></i>Sexe : {{ user.keyTypeSex.sex }}</li>

                        </ul>

                        <div class="buttons">
                            <a class="btn btn-primary vermeil" href="{{ path('app_profile_register_edit', {'id': user.id}) }}">Editer</a>
                        </div>


                    </div>




                </div>

            </div>

        </div>

    </div>

{#    <div class="w-100 h-100 d-flex flex-column bg-white">#}

{#        <h3 class="mx-auto my-3">Mes Informations</h3>#}

{#        <div class="container m-auto w-75 p-3">#}
{#            <div>{{ user.name }}</div>#}
{#            <div>{{ user.surname }}</div>#}
{#            <div>{{ user.keyTypeSex.sex }}</div>#}
{#            <div>{{ user.email}}</div>#}
{#            <div>{{ user.birthdate | date('d-m-Y')}}</div>#}

{#            {% if user.phoneNumber %}#}
{#                <div>{{ user.phoneNumber }}</div>#}
{#            {% endif %}#}

{#            <a class="btn btn-primary" href="{{ path('app_profile_register_edit', {'id': user.id}) }}">Edit</a>#}
{#            <a class="btn btn-primary" href="{{ path('app_booking_new', {'id': house.id}) }}">Réserver</a>#}
{#        </div>#}

{#    </div>#}

{% endblock %}