{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="p-4 mt-5 mx-auto w-50 bg-white" style="border-radius: 0.5rem">
        <form action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <label for="username">Email:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="form-group mt-2">
                <label for="password">Mot de passe:</label>
                <input class="form-control" type="password" id="password" name="_password"/>
            </div>

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
            {#        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

            <button class="btn btn-primary mt-3" type="submit">Se connecter</button>
        </form>
        <a href="{{ path('app_register') }}">M'enregistrer</a>
    </div>


{% endblock %}
