{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style> .ui-autocomplete-loading {
            background: white url("{{ asset('img/ajax-loader.gif') }}") left 5px center no-repeat !important;
            background-size: 100px !important;
        }</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
            function calendar_picker() {
                $('.js-datepicker').flatpickr({
                    dateFormat: "Y-m-d",
                    altInput: true,
                    mode: "range",
                    minDate: "today",
                    altFormat: "F j, Y",
                    locale: 'fr',
                    disable: [
                        {% for bookedDate in bookedDates %}
                        {
                            from: "{{ bookedDate.date_begin|json_encode()|split(' ')[0]|split('"')[3] }}",
                            to: "{{ bookedDate.date_end|json_encode()|split(' ')[0]|split('"')[3] }}"
                        },
                        {% endfor %}
                    ],
                    onOpen: function (selectedDates, dateStr, instance) {
                        $(instance.altInput).prop('readonly', true);
                    },
                    onClose: function (selectedDates, dateStr, instance) {
                        $(instance.altInput).prop('readonly', false);
                        $(instance.altInput).blur();
                    }
                });
            }
            $(document).ready(calendar_picker);
        </script>
{% endblock %}

{% block body %}
    <div class="w-100 h-100 d-flex flex-column">
        <h3 class="mt-4 ms-4">Demande de logement</h3>

        <div class="m-auto p-5 w-75">
            {{ form_start(form) }}

            <div class="mb-3">
                {{ form_label(form.calendar) }}
                {{ form_widget(form.calendar, { 'attr': { 'placeholder': 'Veuillez selectionner une date' }}) }}
                {{ form_help(form.calendar) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}