{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/availablehouses.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="availablehouses">
        <div class="list">

            {% if houses %}
                <div class="title">
                    <h1>Liste des maisons disponibles</h1>
                </div>
            {% else %}
                <div class="title">
                    <h1>Pas de maison disponible</h1>
                </div>
            {% endif %}

            {{ form_start(form) }}
            <div class="d-flex ms-3 mb-4" style="flex-direction: row">
                <div class="form-group">
                    {{ form_label(form.key_type_accommodation_capacity, 'Recherche par capacité necessaire') }}
                    {{ form_widget(form.key_type_accommodation_capacity) }}
                    {{ form_help(form.key_type_accommodation_capacity) }}
                </div>
                <div class="form-group mt-auto ms-3 h-50">
                    {{ form_widget(form.Rechercher) }}
                </div>
            </div>
            {{ form_end(form) }}

            {% for house in houses %}
                <div class="container">
                    <div class="image_house">
                        <img src="{{ asset('uploads/images/' ~ house.imageFilename) }}">
                    </div>
                    <div class="info_house">
                        <h2>{{ house.title }}</h2>
                        <p>{{ house.description|default('') }}</p>
                        <p>De : {{ house.dateBegin | date('d-m-Y') }}</p>
                        <p>A : {{ house.dateEnd | date('d-m-Y') }}</p>
                        <p>Capacite : {{ house.keyTypeAccommodationCapacity.capacity }}</p>
                        <p>Ville
                            : {{ house.keyListeVilleFrance.name ~ ' (' ~ house.keyListeVilleFrance.department ~ ')' }}</p>
                        <a class="btn btn-primary vermeil"
                           href="{{ path('app_house_detailed_view', {'id': house.id}) }}"
                           role="button">Détails de l'annonce</a>
                        {% if app.user.id != house.keyUser.id %}
                            <a class="btn btn-primary vermeil" href="{{ path('app_booking_new', {'id': house.id}) }}"
                               role="button">Réserver</a>
                            <a class="btn btn-primary vermeil"
                               href="{{ path('app_messages', {'id': house.keyUser.id}) }}"
                               role="button">Envoyer un message à l'annonceur</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}