{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <div class="w-100 h-100 d-flex flex-column">

        {% if houses %}
            <h3 class="mx-auto my-3">Liste des maisons</h3>
        {% else %}
            <h3 class="mx-auto my-3">Aucune maison disponible</h3>
        {% endif %}

        {% for house in houses %}
            <div class="container m-auto w-75 p-3">
                <a style="font-weight: bold" href="{{ path('app_house_detailed_view', {'id': house.id}) }}">{{ house.title }}</a>
                <div>{{ house.description }}</div>
                <div>{{ house.dateBegin | date('d-m-Y') }}</div>
                <div>{{ house.dateEnd | date('d-m-Y') }}</div>
                <div>{{ house.keyTypeAccommodationCapacity.capacity }}</div>
                <div>{{ house.keyListeVilleFrance.name ~ '(' ~ house.keyListeVilleFrance.department ~ ')' }} </div>
                <img src="{{ asset('uploads/images/' ~ house.imageFilename) }}">
{#                TODO if house.user == actual user#}
                <a class="btn btn-primary" href="{{ path('app_house_edit', {'id': house.id}) }}" >Edit</a>
            </div>
        {% endfor %}

    </div>

{% endblock %}