{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <div class="w-100 h-100 d-flex flex-column">

        <div class="container m-auto w-75 p-3">
            <div style="font-weight: bold">{{ house.title }}</div>
            <div>{{ house.description }}</div>
            <div>{{ house.dateBegin | date('d-m-Y') }}</div>
            <div>{{ house.dateEnd | date('d-m-Y') }}</div>
            <div>{{ house.keyTypeAccommodationCapacity.capacity }}</div>
            <div>{{ house.keyListeVilleFrance.name ~ '(' ~ house.keyListeVilleFrance.department ~ ')' }} </div>
            <img src="{{ asset('uploads/images/' ~ house.imageFilename) }}">
            <a class="btn btn-primary" href="{{ path('app_booking_new', {'id': house.id}) }}" >Réserver</a>
            <a class="btn btn-primary" href="{{ path('app_messages', {'id': house.keyUser.id}) }}" >Envoyer un message au propriétaire</a>
        </div>

    </div>

{% endblock %}